<sl-navbar></sl-navbar>
<div class="container-fluid">
    <div class="">
        <a href="#!/admin/new" type="button" class="btn btn-sm btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Course
        </a>
        <table class="table-border table dt-responsive table-striped">
            <thead class="thead-inverse">
            <tr class="row table-component-row">
                <th class="">Course ID</th>
                <th class="">Professor ID</th>
                <th class="">Date Created</th>
                <th class="">Description</th>
                <th class="">Edit/Delete</th>
                <!--modal?-->
            </tr>
            </thead>
            <tbody>
            <tr class="row table-component-row" ng-repeat="user in model.users">
                <td class="">{{user.role}}</td>
                <td class=""><a href="#!/profile/{{user.username}}">{{user.username}}</a></td>
                <td class="">{{user.nickname}}</td>
                <td class="">{{user.firstName}}</td>

                <td class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                    <a href="#!/profile/{{user.username}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="" ng-click="model.unregisterUser(user)"><i class="fa fa-times" id="admin-delete" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Search Bar -->

</div>